@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
$font: 'Montserrat', sans-serif;
$primary: #03a9f4;  /* rgb(3, 169, 244) */
$secondary: #0076bd;
$white: #fff;
$lightgray: #f7f8f9;
$black: #000;
$fontSize: 16px;
$transition: 0.4s all ease-in-out;
$padding: 80px 0;