@import "variables";
@import "basics";
//HEADER
.hero {
  .logo {
    padding: 15px 0;
    display: flex;
    justify-content: center;

    .logo-img {
      width: 10%;
    }
  }
}

//NAVIGATION
.navbar {
  bottom: 55px;
  background-color: rgba($black, .5) !important;
  padding: 0;

  &.sticky-nav {
    position: sticky;
    top: 0;
    bottom: auto;
    z-index: 10;
    background-color: rgba($black, .7) !important;
  }

  .navbar-nav {
    margin: 0 auto;
    font-size: 22px;

    .nav-item {
      margin-right: 80px;

      a {
        color: lightgray;


        &:hover {
          color: $primary;
          transition: $transition;
        }

        &:focus {
          color: $primary;
        }
      }
    }
  }

  .dropdown {
    ul {
      border: none;
      .dropdown-item {

        &:focus {
          background-color: transparent;
        }

        &:hover {
          background-color: transparent;
        }

        &:active {
          background-color: transparent;
        }

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}


// INTRO
.intro {
  padding: $padding;

  .headline {
    margin: 30px 0;
  }

  .text {
    width: 60%;
    margin: 0 auto;

    h4 {
      line-height: 1.635;
    }
  }
}

// HOMEPAGE SERVICES
.services {
  padding: $padding;

  .service-holder {
    display: flex;
    flex-wrap: wrap;

    .col-md-4 {
      flex: 0 0 31%;
      margin: 30px auto;

      .holder {
        height: 100%;
        position: relative;

        #color-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $black;
          opacity: .5;
        }
      }

      .text-holder {
        position: relative;
        bottom: 650px;
        color: $white;
        height: 100%;

        .service-title {
          font-size: 24px;
        }

        p:first-letter {
          text-transform: uppercase;
        }
      }
    }

    .read-more {
      position: relative;
      bottom: 800px;
      left: 130px;
      color: $white;

    }
  }
}

// OUR CLIENTS
.our-clients {
  padding: $padding;

  h1 {
    margin-bottom: 60px;
  }

  .slider-card {
    padding: 0 40px;
  }
}

//FOOTER
footer {
  background: linear-gradient(to right, rgba($black, 0.4), rgba($black, 0.1), rgba($black, 0.1), rgba($black, 0.1), rgba($black, 0.1), rgba($black, 0.3), rgba($black, 0.2));
  border: 5px solid $border;
  color: $black;

  .footer-title {
    margin-top: 30px;
  }

  .footer-social-links {
    display: flex;
    justify-content: center;

    a {
      font-size: 1.2rem;
      margin: 20px 5px;
      text-decoration: none;
      color: $primary;
      border: 1px solid $secondary;
      padding: 13px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $transition;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }

  }

  .text-wrapper {
    justify-content: space-between;

    h6 {
      font-size: 32px;
    }

    p {
      line-height: 2;
    }

    .contact {
      li {
        line-height: 3.5;

        .footer-links {
          color: $black;
          cursor: pointer;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.bottomBar {
  background: linear-gradient(to right, rgba($black, 0.4), rgba($black, 0.1), rgba($black, 0.1), rgba($black, 0.1), rgba($black, 0.1), rgba($black, 0.3), rgba($black, 0.2));
  color: $black;
}

//ABOUT US PAGE
.wrapper {
  position: relative;
  bottom: 55px;

  .section-first {
    padding-bottom: 10px;

    .img {
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

      &.second {
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
      }
    }

    .about-text {
      font-size: 24px;
      font-weight: 300;
      line-height: 2;
    }
  }

  .page-intro {
    background: linear-gradient(to right, rgba($black, 0.4), rgba($black, 0.1), rgba($black, 0.1), rgba($black, 0.1), rgba($black, 0.1), rgba($black, 0.3), rgba($black, 0.2));
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 50% 100%, 0 60%);
    margin-bottom: 30px;
  }
}

// CONTACT US PAGE
.col-md-12 {
  .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    .footer-links {
      color: $black;
      cursor: pointer;
      font-size: 22px;

      &:hover {
        color: $primary;
      }
    }
  }
}

//SERVICES PAGE
.section {
  opacity: 1;

  .container {
    width: 1920px !important;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 7em 3.85em;
    font-family: Ivymode, sans-serif;
    background: linear-gradient(to right, rgba($black, 0.4), rgba($black, 0.1), rgba($black, 0.1), rgba($black, 0.1), rgba($black, 0.1), rgba($black, 0.3), rgba($black, 0.2));

    .sticky-parrent {
      display: flex;
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-pack: start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      align-items: stretch;

      .sticky-box {
        position: sticky;
        top: 0;
        display: flex;
        width: 100%;
        height: 48em;
        padding-top: 4em;
        padding-left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        align-items: flex-start;

        img {
          width: 30em;
          height: 40em;
          object-fit: cover;
          border: 0;
          max-width: 100%;
          vertical-align: middle;
          display: inline-block;
        }
      }

      .tab-content {
        padding-top: 4em;
        display: block;
        overflow: hidden;
        width: 100%;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        flex-wrap: wrap;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        flex: 0 auto;

        .colored-headings {
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          -webkit-box-align: start;
          align-items: flex-start;

          .heading-white {
            opacity: 1;
            color: $primary;
            line-height: 1.1;
            margin-top: 0;
            margin-bottom: 0;
            font-family: Ivymode, sans-serif;
            font-size: 3.33em;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: uppercase;
          }

          .heading-colored {
            opacity: 1;
            color: gray;
            font-style: italic;
            font-weight: 300;
            margin-top: 0;
            margin-bottom: 0;
            font-family: Ivymode, sans-serif;
            font-size: 3.33em;
            line-height: 1.2;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }

        .is--padding {
          width: 80%;
          padding-top: 3em;
          padding-bottom: 3em;
          font-weight: 400;
          font-family: Abcdiatype, sans-serif;
          font-size: 1.3em;
          margin-top: 0;
          margin-bottom: 0;
          color: gray;
        }
      }
    }
  }
}

// ANIMATIONS
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: $primary;
  transform-origin: 0%;
}

// RESPONSIVE

//HEADER
@media(max-width: 767px) {
  .hero .logo .logo-img {
    width: 25%;
  }
  //NAVIGATION
  .navbar {
    bottom: 36px;

    button {
      border: none;

      &.navbar-toggler {
        box-shadow: none;
        color: lightgray;
      }
    }

    .navbar-colapse {
      background-color: transparent;
    }
    .dropdown{
      ul{
        background-color: transparent;
        border: none;
        padding-left: 15%;
        font-size: 1em;
      }
    }
  }
  // INTRO
  .intro {
    padding: 50px 0;

    .text {
      width: 90%;
      margin: 0 auto;
    }
  }

  // HOMEPAGE SERVICES
  .services .service-holder .col-md-4 {
    .text-holder {
      bottom: 200px;

      .service-title {
        font-size: 12px;
      }

      .service-text {
        display: none;
      }
    }

    .read-more {
      bottom: 270px;
      left: 10px;
      padding: 5px 10px;
    }
  }
  //ABOUT US PAGE
  .wrapper {
    bottom: 37px;

    .page-intro {
      clip-path: polygon(0 0, 100% 0%, 100% 80%, 49% 100%, 0 80%);

      .text {
        width: 80%;

      }
    }

    .section-first {
      .img {
        clip-path: polygon(0 0, 100% 0%, 100% 70%, 49% 100%, 0 70%);

        &.second {
          clip-path: polygon(0 0, 100% 0%, 100% 70%, 49% 100%, 0 70%);
        }
      }

      .about-text {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.7;

        h1 {
          text-align: center;
        }
      }
    }
  }
  //  SERVICE PAGE
  .section {
    .container {
      padding-top: 0;
      padding: 2em 1em;

      .sticky-parrent {
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;

        .sticky-box {
          overflow: hidden;
          align-items: flex-start;
          position: static;
          height: auto;
          padding-top: 0;
          padding-bottom: 2em;
          justify-content: center;

          img {
            width: 100%;
            height: 20em;
            margin-bottom: 2em;
          }
        }

        .tab-content {
          padding-top: 0;
          width: 100%;
          padding-left: 0;
          border-left-style: none;

          .colored-headings {
            font-size: 6px;
          }

          .is--padding {
            width: 100%;
            padding-top: 2em;
            padding-bottom: 2em;
          }
        }
      }
    }
  }
}



